<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="app/css/contact.css">
    <link rel="stylesheet" href="app/css/form.css">
    <link rel="stylesheet" href="app/css/bootstrap.css">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
</head>
<body>


    <div class="row">
        <div id="main-container">
            <div class="container-fluid">
        </div>
    </div>


<script type="text/template" id="headerTemp">
    <a class="btn btn-info" id="showForm" href="#newContact" role="button">Add new contact</a>
    <input type="text" class="contact-searchValue" value="" placeholder="Search contact header">
    <input type="submit" name="button" id="submitSearch" value= "Find!">
    <!-- -->
    <div class="contacts-containerHeader">
        <a id="return" href="#home" class="backFromSearch"> Return</a>
    </div>
    <div class="empty-contacts-placeholderHeader"></div>
    <div class="empty-search-contacts-placeholderHeader"></div>
</script>

     <script type="text/template" id="tpl-contacts">
         <div class="container">
             <div class="row">
                 <div class="col-6">
                     <input type="text" class="contact-searchValue" value="" placeholder="Search contact ">
                 </div>
                 <div class="col">
                     <input type="submit" name="button" class="btn btn-info" id="submitSearch" value= "Find!">
             </div>
                 <div class="col">
                     <a class="btn btn-success" id="showForm" href="#newContact" role="button">Add new contact</a></div>
                 </div>
             </div>
         <div class="contacts-container">
             <a id="return" href="#home" class="backFromSearch"> Return</a>
         </div>
         <div class="empty-contacts-placeholder"></div>
         <div class="empty-search-contacts-placeholder"></div>

         <div class="fixed-bottom">
             <input type="submit" name="button" class="btn btn-success" id="next" value= "Next">
             <input type="submit" name="button" class="btn btn-success" id="prev" value= "Prev">
         </div>
     </script>

    <script id="newContactTemp" type="text/template">
        <div class="form__wrapper">
            <form id="formAddContact" action="#">
                <h2 class="page-header text-center"><%= isNew ? 'Create' : 'Edit' %> Contact</h2>
                <div>
                <div class="fields">
                    <div class="form-group has-feedback form-group-name">
                    <label for="name"><b>Name: </b> </label>
                    <input type="text" class="name" value="<%= name %>">
                    <span class="dot">*</span>
                  <p>   <small class="help-block"></small></p>
                    </div>
                    <div class="form-group has-feedback form-group-phone">
                    <label for="phone"><b>Phone: </b> </label>
                    <input type="text" class="phone" value="<%= phone %>">
                    <span class="dot">*</span>
                       <p> <small class="help-block"></small></p>
                    </div>
                    <div class="form-group has-feedback form-group-group">
                    <label for="group"><b>Group: </b> </label>
                    <input type="text" class="group" value="<%= group %>" >
                    <span class="dot">*</span>
                      <p>  <small class="help-block"></small></p>
                    </div>
                </div>
                <input type="submit" name="button" id="submitForm" value= "Add">
                    <input type="submit" name="button" id="close-form" value= "Cancel">
                </div>
            </form>
        </div>
    </script>

<script type="text/template" id="tpl-contact">
    <div class="card">
        <div class="card-body">
    <img src="<%= coverImage %>"/>
    <div id="name"><%= name %></div>
    <div id="phone">Phone: <%= phone %></div>
    <div id="group">Group: <%= group %></div>
    <div id="btn">
        <a class="btn btn-info" id="edit" href="#home/edit/<%- id %>" role="button">Edit</a>
    <button class="delete btn-danger" id="delete">Delete</button></div>
        </div>
    </div>
</script>
</div>
<script data-main="main.js" src="node_modules/requirejs/require.js"></script>
</body>
</html>